h1,h2{
    text-align: center;
    background-color: black;
    border:2px dotted white;
    border-radius: 30px;
    padding:10px;
    color: azure;
}
button{
    width:150px;
    height:50px;
    color:wheat;
    background-color: black;
    border-radius: 15px;
    padding:10px;
    margin:10px;
    position:relative;
    left:45%;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color:black;
    transform: scale(1.05);
}
p{
    text-align: center;
    color:black;
    font-size:30px;
}
.Bg-Color{
    background-color: white;
    color: black;
}
div{
    border:5px solid black;
    background-color:burlywood

}
.Refresh{
    width:200px;
    height:60px;
    color:black;
    background-color: rgb(174, 48, 44);
    cursor: pointer;
}